<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.jpg" type="image/jpg">
</head>
<body>
  {{>navbar}}
  
   
    <div class="container-fluid main_header" >
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
           <div class="maincontent">
               <form class="temp_form">
                   <input type="text" id="cityName" placeholder="Enter Your City" autocomplete="off"></input>
                   <input type="submit" value="Search" id="submitBtn">

               
               </form>
           </div>
           <div class="tempInformation">
               <div class="top_layer">
                   <p id="day"></p>
                   <p id="today_date"></p>
               </div>
               <div class="main_layer">
                   <p id="city_name"></p>
                   <div class="middle_layer data_hidden">
                       <p id="temp"><span id="temp_real_val"></span><sup>o</sup>C</p>
                       <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                   </div>
               </div>
           </div>
      </div>
      
      </div>
      </div>

       <footer>
        <p>Created By Krutik Shah ❤❤</p>
      </footer>
     

     <script src="js/main.js"></script>
     <script>
           var weekday = new Array(7);
weekday[0] = "Sunday";
weekday[1] = "Monday";
weekday[2] = "Tuesday";
weekday[3] = "Wednesday";
weekday[4] = "Thursday";
weekday[5] = "Friday";
weekday[6] = "Saturday";

const days = document.getElementById('day')
      const getCurrentDay = ()=>{
        let currentTime = new Date();
      let day= weekday[currentTime.getDay()];
      return day;
     
      }

    days.innerHTML = getCurrentDay()
var d =new Date()
  var date = d.getDate();
  var month = d.toLocaleString('default', { month: 'short' })
  var year = d.getFullYear()
 dates = document.getElementById('today_date')
  var f = `${date} ${month}`
 dates.innerHTML = f;
 

     </script>


</body>
</html>